body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header{
    background-color:#000000;
    color:#FFFFFF;
    padding: 20px 20px 20px 20px;
}

nav ul {
    list-style: none;
    padding: 12px 0px 12px 0px;
    margin: 0px;
    background-color:#D3D3D3;
}

nav ul li {
    display: inline;
    padding: 12px 16px 12px 16px;
}

nav ul li a {
    text-decoration: none;
    color:#000000;
}

nav ul li:hover {
    background-color:#90EE90;
}

li.currentPage {
    background-color:#ee9090;
}


footer {
    background-color:#000000;
    color:#FFFFFF;
    padding: 20px 20px 20px 20px;
    text-align: center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    font-size: 12px;
}

form {
    margin:20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.size-select {
    display: flex;
}

label {
    display: block;
}

input[type="submit"] {
    background-color:#000000;
    color:#FFFFFF;
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
}
